:root {
  --right-left-padding: 50px;
}

* {
  margin: 0px;
  box-sizing: border-box;
  color: #162542;
  font-family: sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
}

.hide1 {
  display: none;
}

.body-bc-animation {
  position: absolute;
  height: 95%;
  width: 100%;
  background-image: url(https://jssstuniv.in/BG01.385b7b495dd436df.png);
  animation: alltuchtopdown 3s infinite;
  background-repeat: repeat;
  background-size: auto;
  z-index: -1;
}

button {
  cursor: pointer;
}

.header {
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0px;
  padding: 0px var(--right-left-padding);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 0px 20px lightgray;
}

.header-logo {
  padding: 5px;
  border-radius: 10px;
  width: 80px;
  box-shadow: 0px 0px 10px #00398f;
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Jost, sans-serif;
  gap: 10px;
}

.header-nav > li {
  position: relative;
  list-style-type: none;
  height: 100%;
}

.header-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
}

.header-nav > li > a:hover,
.drop-down-elements > a:hover {
  transition: 0.2s;
  color: #4294ff;
}

.nav-drop-down::after {
  content: "\25bf";
  color: gray;
}

.drop-down-elements {
  position: absolute;
  background-color: white;
  width: max-content;
  padding: 0px 0px;
  border-top: 5px solid #4294ff;
  flex-direction: column;
  box-shadow: 0px 3px 10px;
}

.drop-down-elements > a {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.about:hover + .about-drop-1,
.academic:hover + .academic-drop-1,
.research:hover + .research-drop-1,
.committees:hover + .committees-drop-1,
.admissions:hover + .admissions-drop-1,
.placement:hover + .placement-drop-1,
.examination:hover + .examination-drop-1,
.life:hover + .life-drop-1,
.about-drop-1:hover,
.academic-drop-1:hover,
.research-drop-1:hover,
.committees-drop-1:hover,
.admissions-drop-1:hover,
.placement-drop-1:hover,
.examination-drop-1:hover,
.life-drop-1:hover {
  display: flex;
  top: 70px;
  left: 0px;
}

.marquee-news {
  padding: 10px var(--right-left-padding);
  width: 100%;
  gap: 20px;
  display: flex;
  color: #f26622;
  box-shadow: inset 0px 0px 20px lightgray;
}

.wellcome-video {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wellcome {
  background-color: #ebebeb10;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 30px lightgray;
  transition: 1s;
  border-top: 3px solid #f26622;
}

.wellcome > h3 {
  padding-bottom: 30px;
}
.wellcome > h4 {
  padding-bottom: 10px;
}

.college-video {
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  transition: 2s;
}

.home-about {
  width: 100%;
  padding: 80px var(--right-left-padding);
  background-color: #00398f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home-about > h2 {
  padding-bottom: 50px;
  font-size: xx-large;
  color: #ffffffb0;
}

.home-about > hr {
  width: 50%;
}

.home-about > div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px;
}

.home-about > div > img {
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  height: min-content;
}

.about-sjce {
  flex-direction: row-reverse;
}

.home-about-content {
  max-width: 600px;
  padding: 10px;
}

.home-about-content > p {
  padding: 5px;
  color: #c1c1c1;
  text-align: justify;
}

.home-about-content > h2 {
  color: #f26622;
  padding: 10px;
}

/*  */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-div1 {
  background-color: #032e3f;
  padding: 50px var(--right-left-padding);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-div1 > div {
  flex: 1;
  padding: 10px;
  color: white;
}

.footer-div1 > div > hr {
  border: none;
  height: 2px;
  width: 80px;
  background-color: #f26622;
}

.footer-div1 > div > h2 {
  color: white;
}

.footer-div1 > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* #BAC8D3 */

.footer-social-icons {
  display: flex;
  gap: 10px;
}

.footer-social-icons > img {
  border-radius: 50%;
  width: 30px;
  border: 1px solid;
  cursor: pointer;
}

.footer-div1 > div > div > p {
  padding-top: 20px;
  color: #b3b3bd;
}

.contact {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.contact-ph > div > *,
.contact-mail > div > *,
.contact-address > div > * {
  color: #b3b3bd;
}
.contact-ph,
.contact-mail,
.contact-address {
  color: #b3b3bd;
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-div2 {
  background-color: #f26622;
  padding: 20px var(--right-left-padding);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: small;
}

.footer-div2 > img {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  box-shadow: 0px 0px 5px #00398f;
}

.hide2 {
  display: none;
}

::-webkit-scrollbar {
  scrollbar-gutter: stable;
  background-color: #d6d6d6;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  width: 8px;
}

@keyframes alltuchtopdown {
  0% {
    transform: rotateX(0) translateY(0);
  }
  50% {
    transform: rotateX(0) translateY(-20px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}

@media (width < 600px) {
  :root {
    --right-left-padding: 10px;
  }
}
